
  * {
      box-sizing: border-box;
      text-decoration: none;
  }
 

  .name-logo {
    width: 100%;
    height: 100%;
    background-color: #4aaaa5;
    margin: 0;
    padding-top: 10px;
    right: 100px;
}

.logo {
    background-color: #4aaaa5;
    height: 100%;
    width: 20%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    right: 50px;
   
    
}  

.links {
    border-bottom: 1px solid gainsboro;
    height: 100%;
    display: inline-block;
    width: 75%;
}

nav {
    height: 100%;
    width: 300px;
    float: right;
   
}

 .content {
    width: 100%;
    padding-left: 30px;
    margin-left: 200px;
    margin: auto;
    text-align: center;
    padding: 0 2%;
}



.main {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 75%;
    display: inline-block;
    padding-bottom: 40px; 
    background-color: white;
    border: 1px solid gainsboro;
    
    
}

.sidebar {
    width: 20%;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    background-color: white;
    padding: 10px;
    border: 1px solid gainsboro;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    line-height: 1.75;
}

.connect {
    /* padding: 10px; */
    border-bottom: 1px solid lightgrey;
    color: #4aaaa5;
}

ul {
    width: 100%;
    height: 100%;
    margin: 0;
}

li {
    list-style-type: none;
    padding-top: 35px;
    text-align: center;
    height: 100%;
    display: inline-block;
    width: 32%;
}

li a {
    float: left;
    text-decoration: none;
    color: gray;
    width: 100%;
} 
 

h1 {
    font-family: "Georgia", Times, "Times New Roman", serif;
    color: #f5fafa;
    
} 

 h2 {
    color: #4aaaa5;
    border-bottom: 2px solid gainsboro;
    padding-left: 20px;
    padding-bottom: 10px;
}

body {
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: "Ariel", "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("../images/linedpaper.png");
}


header {
    background-color: #ffffff;
    border-color: #cccccc;
    width: 100%;
    height: 100px;
    position: static;
    padding: 0 2%;
    text-align: center;
    /* position: static; */
}



.image {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}


footer {
    background-color: gray;
    color: white;
    text-align: center;
    clear: both;
    padding: 40px;
    bottom: 0;
    border-top: 5px solid #4aaaa5;
    width: 100%;
}  

/* contact.html specific CSS below */
 
.form {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.name-label {
    padding-left: 20px;
    padding-top: 15px;
}

.mail-label {
    padding-left: 20px;
    padding-top: 15px;
}

.message-label {
    padding-left: 20px;
    padding-top: 15px;

}

label, input {
    display: block;
}

/* I tried to adjust the width of the text area, however each time I had a higher set of pixels while using full screen, it would ruin the text area in the smaller breakpoints */
/* textarea {
    width: 500px;
} */

.button {
    padding-top: 15px;
    padding-left: 20px;
} 

placeholder {
    color: rgb(182, 176, 176);
}

/*portfolio.html specific CSS below */

.resize {
    width: 200px;
    height: 200px;
    margin-right: 80px;
    padding-bottom: 40px;
}

.images {
   padding-left: 80px;
   position: relative;
   width: 100%;
}

#hangman {
    position: absolute; 
    top: 95px; 
    left: 80px; 
    width: 200px;
    color: white;
    background-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#rpg {
    position: absolute; 
    top: 95px; 
    left: 364px; 
    width: 200px;
    color: white;
    background-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#trivia {
    position: absolute; 
    top: 297px; 
    left: 80px; 
    width: 200px;
    color: white;
    background-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#widget {
    position: absolute; 
    top: 297px; 
    left: 364px; 
    width: 200px;
    color: white;
    background-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#rps {
    position: absolute; 
    top: 501px; 
    left: 80px; 
    width: 200px;
    color: white;
    background-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

textarea {
    min-width: 175px;
    min-height: 200px;
}

input {
    min-width: 500px;
}

button {
    background-color: #4aaaa5;
    font-size: 15px;
    min-width: 100px;
    min-height: 40px;
    color: white;
    border: none;
}

@media screen and (max-width: 640px) {
    .logo {
        width: 100%;
        padding-bottom: 10px;
    }

    .li {
        width: 100%;
        text-align: center;
        float: none;
    }

    .main {
        width: 100%;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sidebar {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    label {
        text-align: left;
    }

    textarea {
        min-width: 400px;
        min-height: 200px;
    }
    
    input {
        min-width: 400px;
    }

    #hangman {
        left: 198px; 
    }

    #rpg {
        top: 292px; 
        left: 196px;
    }
    
    #trivia {
        top: 496px; 
        left: 198px; 
    }
    
    #widget {
        top: 695px; 
        left: 196px;   
    }
    
    #rps {
        top: 901px; 
        left: 198px; 
    }

}

@media screen and (max-width: 768px) {
  
    .main {
        margin-bottom: 20px;
        margin-top: 20px;
        display: block;
        margin-left: 91px;
        text-align: left;
    }
    
    .sidebar {
        display: block;
        margin-left: 90px;
        margin-bottom: 20px;
        width: 75%;
        text-align: center;
    }

    .resize {
        margin-left: auto;
        margin-right: auto;
    }

    #hangman {
        left: 80px; 
    }

    #rpg {
        top: 292px; 
        left: 77px;
    }
    
    #trivia {
        top: 496px; 
        left: 79px; 
    }
    
    #widget {
        top: 695px; 
        left: 77px;   
    }
    
    #rps {
        top: 901px; 
        left: 77px; 
    }

    .images {
        padding-left: 0
    }

    textarea {
        max-width: 250px;
    }

}

@media screen and (max-width: 980px) {

    header {
        height: 83px;
    }
    
    .main {
        margin-top: 20px;
        width: 50%;
        padding-bottom: 0;
        text-align: center;
    }
    
    h2 {
        text-align: left;
    }
    .sidebar {
        margin-top: 20px;
        margin-left: 20px;
    }

    footer {
        margin-top: 20px;
    }

    .image {
        float: none;
    }

    .form {
        text-align: left;
    }

    h2 {
        text-align: left;
    }

    textarea {
        min-width: 290px;
        min-height: 200px;
    }
    
    input {
        min-width: 250px;
    }

    /* .images {
        padding-left: 129px;
    } */

    /* it seemed like everytime I refreshed my portfolio page on 980 the images moved out of place, then I would adjust the padding, refresh, and they would move again */

    #hangman {
        left: 130px; 
    }

    #rpg {
        top: 296px; 
        left: 128px;
    }
    
    #trivia {
        top: 499px; 
        left: 130px; 
    }
    
    #widget {
        top: 698px; 
        left: 128px;   
    }
    
    #rps {
        top: 903px; 
        left: 130px; 
    }

}




