
  * {
      box-sizing: border-box;
      text-decoration: none;
  }
 

  .name-logo {
    width: 100%;
    height: 100%;
    background-color: #4aaaa5;
    margin: 0;
    padding-top: 10px;
    right: 100px;
}

.logo {
    background-color: #4aaaa5;
    height: 100%;
    width: 20%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    right: 50px;
   
    
}  

.links {
    border-bottom: 1px solid gainsboro;
    height: 100%;
    display: inline-block;
    width: 75%;
}

nav {
    height: 100%;
    width: 300px;
    float: right;
   
}

 .content {
    width: 100%;
    padding-left: 30px;
    margin-left: 200px;
    margin: auto;
    text-align: center;
    padding: 0 2%;
}



.main {
    width: 75%;
    display: inline-block;
    padding-bottom: 40px; 
    background-color: white;
    border: 1px solid gainsboro;
    
    
}

.sidebar {
    width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    background-color: white;
    padding: 10px;
    border: 1px solid gainsboro;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    line-height: 1.75;
}

.connect {
    /* padding: 10px; */
    border-bottom: 1px solid lightgrey;
    color: #4aaaa5;
}

ul {
    width: 100%;
    height: 100%;
    margin: 0;
}

li {
    list-style-type: none;
    padding-top: 35px;
    text-align: center;
    height: 100%;
    display: inline-block;
    width: 32%;
}

li a {
    float: left;
    text-decoration: none;
    color: gray;
    width: 100%;
} 
 

h1 {
    font-family: "Georgia", Times, "Times New Roman", serif;
    color: #f5fafa;
    
} 

 h2 {
    color: #4aaaa5;
    border-bottom: 2px solid gainsboro;
    padding-left: 20px;
    padding-bottom: 10px;
}

body {
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: "Ariel", "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("../images/linedpaper.png");
}


header {
    background-color: #ffffff;
    border-color: #cccccc;
    width: 100%;
    height: 100px;
    position: static;
    padding: 0 2%;
    text-align: center;
    /* position: static; */
}



.image {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}


footer {
    background-color: gray;
    color: white;
    text-align: center;
    clear: both;
    padding: 40px;
    bottom: 0;
    border-top: 5px solid #4aaaa5;
    width: 100%;
}  

/* contact.html specific CSS below */
 
.form {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.name-label {
    padding-left: 20px;
    padding-top: 15px;
}

.mail-label {
    padding-left: 20px;
    padding-top: 15px;
}

.message-label {
    padding-left: 20px;
    padding-top: 15px;

}

label, input {
    display: block;
}

.button {
    padding-top: 15px;
    padding-left: 20px;
} 

placeholder {
    color: rgb(182, 176, 176);
}

/*portfolio.html specific CSS below */

.resize {
    width: 200px;
    height: 200px;
    margin-right: 80px;
    padding-bottom: 40px;
}

.images {
   padding-left: 80px;
   position: relative;
   width: 100%;
}

#hangman {
    position: absolute; 
    top: 95px; 
    left: 80px; 
    width: 200px;
    color: white;
    background-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#rpg {
    position: absolute; 
    top: 95px; 
    left: 364px; 
    width: 200px;
    color: white;
    background-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#trivia {
    position: absolute; 
    top: 297px; 
    left: 80px; 
    width: 200px;
    color: white;
    background-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#widget {
    position: absolute; 
    top: 297px; 
    left: 364px; 
    width: 200px;
    color: white;
    background-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#rps {
    position: absolute; 
    top: 501px; 
    left: 80px; 
    width: 200px;
    color: white;
    background-color: #4aaaa5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

textarea {
    min-width: 500px;
    min-height: 200px;
}

input {
    min-width: 500px;
}

button {
    background-color: #4aaaa5;
    font-size: 15px;
    min-width: 100px;
    min-height: 40px;
    color: white;
    border: none;
}

@media screen and (max-width: 640px) {
    .main {
        width: 100%;
        display: block;
    }

    .sidebar {
        width: 100%;
        display: block;
    }
}

/* @media screen and (max-width: 640px) { */
/* @media screen and (max-width: 640px) { */

    
    /* .image {
        float:none;
        text-align: center;
    }

    .main {
        width: 60%;
        margin-bottom: 10px;
        display: block;
    }

    .sidebar {
        margin-top: 10px;
        width: 60%;
        display: block;
        margin-bottom: 30px;
        padding-right: 20px;
    }

    footer {
        margin-top: 20px;
    }
    
    header {
        margin-left: 0px;
        width: 100%;
    }

    .logo {
        width: 100%;
        margin-left: 0;
    }

    .links {
        padding-top: 15px;
        width: 100%;
        height: 50px;
        background-color: white;
    }

    li {
        padding: 0;
    }

    nav {
        float: none;
        text-align: center;
        width: 100%;
    }
} */
/* 
@media screen and (max-width: 768px) {
  
    /* .main-header {
        width: 768px;
    }

    .image {
        float: none;
        text-align: center;
    }

    .name-logo {
        width: 60px;
    }

    .links {
        vertical-align: top;
    }

    .main {
        width: 30%;
        margin-bottom: 10px;
        float: none;
    }

    .sidebar {
        margin-top: 10px;
        width: 100%%;
        float: left;
        margin-bottom: 30px;
        padding-right: 20px;
    }

    footer {
        margin-top: 20px;
    }
    
    header {
        margin-left: 0px;
    }

    .logo {
        width: 25%;
        margin-left: 0;
        height: 100%;
    }

    .links {
        padding-top: 15px;
        width: 75%;
        height: 50px;
        background-color: white;
    }

    li {
        padding: 0;
    }

    nav {
        float: none;
        text-align: center;
        width: 100%;
    } 
    

}  */


/* // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } */




